
.breadcrumbs {
	margin: var( --x3p0-breadcrumbs--margin );

	&__trail,
	&__crumb {
		display:     flex;
		flex-wrap:   wrap;
		align-items: center;
		gap:         var( --x3p0-breadcrumbs--gap );
	}

	&__trail {
		list-style:  none;
		margin:      0;
		padding:     0;
		border:      none;
		background:  transparent;
		text-indent: 0;
	}

	&.items-justified-right &__trail  { justify-content: flex-end; }
	&.items-justified-left &__trail   { justify-content: flex-start; }
	&.items-justified-center &__trail { justify-content: center; }

	&__crumb {

		&::before {
			content: var( --x3p0-breadcrumbs--separator );
		}

		&:first-child::before {
			display: none;
		}
	}
}
