
@import 'var';

.editor-styles-wrapper {

	.wp-block-x3p0-breadcrumbs .wp-block-x3p0-breadcrumbs {
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
		box-shadow: none !important;
	}

	@import 'common';

}
